<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=640, maximum-scale=1, user-scalable=no">
	
		<title>IMAC</title>
		
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body>	
		<div id="wrapper-content">
			<svg class="shape triangle" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve" style="transform: translate(0%, -11.58%) matrix3d(-0.80212, 0.59716, 0, 0, -0.59716, -0.80212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                    <polygon fill="none" stroke-width="0.3px" stroke="#436D77" stroke-linejoin="round" stroke-miterlimit="10" points="14.921,2.27 28.667,25.5 1.175,25.5 "></polygon>
            </svg>
		</div>
		<div id="header">
			<div id="fade">
				<div id="logo"></div>
			</div>
			<h2>Image, multimédia, audiovisuel et communication</h2>
			<p>Descriptif de la formation</p>
		</div>
		<div id="container">
			<div class="year" id="year1"></div>
			<div class="year" id="year2"></div>
			<div class="year" id="year3"></div>
		</div>
	</body>
</html>
