<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=640, maximum-scale=1, user-scalable=no">
	
		<title>Charlie</title>
		
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	</head>
	<body>	
		<div id="header">
			<div id="fade">
				<img src="images/logo.png">
			</div>
		</div>
		<div id="container">
			<div class="year">
				<div class="semestre">
					<h1>Année 1, Semestre 1</h1>
					<div class="content">
						<div class="column">
							<div class="block" style="width: 250px; height: 300px; background-color: red;">
								<h3 style="text-align: left; right: 40px; padding-top: 40px;">Programmation et algorithmique</h3>
							</div>
						</div>
						<div class="column">
							<div class="block" style="width: 210px; height: 250px; background-color: cyan;">
								<h3 style="text-align: right; left: 40px; padding-top: 80px;">Mathématiques</h3>
							</div>
						</div>
						<div class="column">
							<div class="block" style="width: 210px; height: 250px; background-color: green;">
								<h3 style="text-align: right; left: 40px; padding-top: 110px;">Audiovisuel 1</h3>
							</div>
						</div>
						<div class="column">
							<div class="block" style="width: 250px; height: 300px; background-color: gray;">
								<h3  style="text-align: left; right: 40px; padding-top: 40px;">Programmation Web 1</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="semestre">
					<h1>Année 1, Semestre 2</h1>
				</div>
			</div>
			<div class="year">
				<div class="semestre">
					<h1>Année 2, Semestre 1</h1>
				</div>
				<div class="semestre">
					<h1>Année 2, Semestre 2</h1>
				</div>
			</div>
			<div class="year">
				<div class="semestre">
					<h1>Année 2, Semestre 1</h1>
				</div>
				<div class="semestre">
					<h1>Année 2, Semestre 2</h1>
				</div>
			</div>
		</div>
	</body>
</html>
